
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
h1:hover {
  opacity: 0.6;
}
a {
  color: white;
  text-decoration: none;
}
p {
  font-family: 'Roboto', sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-left: 2em;
}
nav a:hover {
  text-decoration: underline;
}
footer a {
  color: white;
  font-size: 1.5rem;
}
footer a:hover {
  color: blue;
}
img:hover {
  opacity: 0.75;
}

h1 {
  margin-left: 1em;
}
footer {
  padding-bottom: 8em;

  background-color: black;
}
small:hover {
  text-decoration: underline;
}
ol {
  font-family: roboto;
}



header {
  background-color: black;
  float: left;
  margin-left: -0.67em;
  color: white;
    font-family: roboto;
  width: 25em;
  height: 25em;
  float: left;
}

.subhead1 {
  float: left;
  
  
  margin-left: 3em;
  font-size: 4rem;
  margin-top:10rem;
  
}
.subhead1:hover {
  color: gray;
}
.headshot {
  float: right;
  width: 25em;
  

}


.box {
    display: block;
    width: 25em;
    height: 25em;
    background-color: #0000;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
    background-color:#A9A9A9;
    width: 30em;
    height: 30em;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}



.effect {
  transition: all 0.5s ease;
  background: black;
  
}
.effect:hover {
  background: #A9A9A9; 
}



.content {
  clear: both;
  float: left;
  
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0
  
}
footer {
  clear: both;
  color: white;
  height: 5rem;
  padding-left: 40rem;
  padding-top: 8rem;
  margin: 0;
}
.projects {
  clear: both;
  margin: 50px;
  padding-top: 1rem;
}
small {
  text-align: center;
}
.icons {
  margin-left: 2rem;
}